.l-jp-container {

  width: 100%;
  padding: 10px;
  border: 1px solid #979797;
  box-shadow: 0 0 10px 0 #656565;
  margin-top: 20px;
  margin-bottom: 20px;

}

.l-btn-container {

  text-align: center;

}
