<div class="l-main">

  <tournette></tournette>




  <!--

    <div class="row">


        <div class="col-md-12">

            <h1>Qui est-ce #{{mainController.currentSound + 1}} ?</h1>  <button class="btn btn-default" ng-click="mainController.play()">Ecouter</button>


        </div>



    </div>

    <div class="row">

        <div class="col-md-3" ng-class="mainController.avatarClass" ng-repeat="person in mainController.peopleList">

            <div class="flip-container" ng-class="{flip:mainController.selectedPerson == person}">
                <div class="flipper">
                    <div class="front">
                        <img ng-src="{{mainController.people[person].avatar}}" class="img-responsive img-circle"  ng-click="mainController.selectPerson(person)"/>
                    </div>
                    <div class="back">
                        <h1><span ng-if="mainController.sounds[mainController.currentSound].person === person" class="glyphicon glyphicon-ok"></span>
                        <span ng-if="mainController.sounds[mainController.currentSound].person !== person" class="glyphicon glyphicon-remove"></span></h1>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

            <div class="bullets">

            <button ng-click="mainController.goto(index)" class="btn btn-default" ng-class="{'btn-success':sound.answer == 'success', 'btn-warning':sound.answer == 'error'}" ng-repeat="(index,sound) in mainController.sounds">
                <span ng-if="mainController.currentSound == index"><strong>{{index + 1}}</strong></span>
                <span ng-if="mainController.currentSound != index">{{index + 1}}</span>
            </button>

            </div>

        </div>

    </div>

-->

</div>

