<div class="l-jp-container">

  <stage btn-height="mainController.btnHeight"></stage>

  <div class="l-btn-container">
    <div>
      <h2 ng-if="mainController.showGreeting">Bonne année 2016 !</h2>
      <button class="btn btn-default btn-go"
              ng-class="{'btn-warning':mainController.attemptStatus == 'failure', 'btn-success':mainController.attemptStatus == 'success'}"
              ng-click="mainController.random()">
        <span ng-if="mainController.attemptStatus == 'pending'" class="glyphicon glyphicon-time"></span>
        {{mainController.btnLabel}}
      </button>
    </div>
  </div>

</div>
